Repository cs4218/cs4218-2420-ecom-project-team12, pull requests merged in 2025-03, with the labels that each got.

#13 Test coverage search, product details and category
  client/src/components/Form/SearchInput.test.js
  client/src/context/search.js
  client/src/context/search.test.js
  client/src/pages/CategoryProduct.test.js
  client/src/pages/ProductDetails.test.js
  client/src/pages/Search.test.js
Labels: unitTest

#28 UI test for Dashboard
  tests/Dashboard.e2e.test.js
Labels: UI test

#29 Integration test for profile
  client/package-lock.json
  client/src/pages/user/Profile.int.test.js
  client/src/pages/user/Profile.js
  package-lock.json
  package.json
Labels: integration test

#30 UI test for Profile
  tests/Profile.e2e.test.js
Labels: UI test

#31 Integration Test for Orders
  client/src/pages/user/Orders.int.test.js
  client/src/pages/user/Profile.int.test.js
Labels: integration test

#32 UI test for Orders
  tests/Orders.e2e.test.js
Labels: UI test

#33 Updated UI test code for Profile
  tests/Profile.e2e.test.js
Labels: UI test

#34 Wrote integration tests for authController
  controllers/authController.int.test.js
  controllers/authController.js
  package-lock.json
  package.json
Labels: integration test

#35 Integration tests for UserMenu.js
  client/src/components/UserMenu.int.test.js
  package-lock.json
  package.json
Labels: integration test

#38 made changes to Dashboard.e2e.test.js
  tests/Dashboard.e2e.test.js
Labels: UI test

#39 revert back to old code for Dashboard.e2e.test.js
  tests/Dashboard.e2e.test.js
Labels: UI test
